.Rproj.user
.Rhistory
.RData
.DS_Store

csas-style
knitr-cache-docx
knitr-cache-tex
knitr-figs-docx
knitr-figs-pdf
models*
_book
techreport.aux
techreport.log
techreport.Rmd
techreport.tex
techreport.upa
techreport.pdf
techreport.knit.md
techreport.utf8.md

*.png

*.zip
*.docx
*.pdf